<div class="container">
   
  <form name="registerForm" role="form" ng-submit='createUser()'>
    <fieldset>
    <div class="form-group has-success has-feedback">
          <label>Username</label>
          <input type="text"
				 ng-model="username"
                 class="form-control"
				 name="user"
                 placeholder="Enter username" required>
		   <span style="color:red" ng-show="registerForm.user.$dirty && registerForm.user.$invalid">
		   <span ng-show="registerForm.user.$error.required">Username is required.</span>
	       </span>
        </div>

        <div class="form-group has-success has-feedback">
          <label>Email</label>
          <input type="email"
                 ng-model="email"
				 name="email"
                 class="form-control"
                 placeholder="Enter email" required>
		   <span style="color:red" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">
		   <span ng-show="registerForm.email.$error.required">Email is required </span>
		   <span ng-show="registerForm.email.$error.email">Invalid email address </span>
	       </span>
        </div>

        <div class="form-group has-success has-feedback">
          <label>Phone</label>
          <input type="number"
                 ng-model="phone"
                 class="form-control"
                 placeholder="Phone (070 000 00 00)">
        </div>

        <div class="form-group has-success has-feedback">
          <label>First Name</label>
          <input type="text"
                 ng-model="firstName"
				 name="fName"
                 class="form-control"
                 placeholder="First Name" required>
		   <span style="color:red" ng-show="registerForm.fName.$dirty && registerForm.fName.$invalid">
		   <span ng-show="registerForm.fName.$error.required">First name is required </span>
		   </span>
        </div>


        <div class="form-group has-success has-feedback">
          <label>Last Name</label>
          <input type="text"
                 ng-model="lastName"
				 name="lName"
                 class="form-control"
                 placeholder="Last Name" required>
		   <span style="color:red" ng-show="registerForm.lName.$dirty && registerForm.lName.$invalid">
		   <span ng-show="registerForm.lName.$error.required">Last name is required </span>
		   </span>
        </div>

          <div class="form-group has-success has-feedback">
          <label>Personalnumber</label>
          <input type="number"
                 ng-model="personalNum"
                 class="form-control"
                 placeholder="Personalnumber (ÅÅÅÅMMDDNNNN)" required="">
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" 
                 ng-model="password1"
				 ng-minlength="5"
				 name="pwd"
                 class="form-control"
                 placeholder="Password" required="">
			<span style="color:red" ng-show="registerForm.pwd.$dirty && registerForm.pwd.$invalid">
			<span ng-show="registerForm.pwd.$error.minlength">Password must be at least 5 characters </span>
		   </span>
        </div>

         <div class="form-group">
          <label>Repeat Password</label>
          <input type="password"
                 ng-model="password2" 
                 class="form-control"
                 placeholder="Repeat Password" required="">
        </div>

        <div class="input-group">
     <div class="checkbox">
        <label>
          <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
            </label>
      </div>
</div>
		
		<p style="color:red;" ng-show="regError">{{regErrorMessage}}</p>
    </fieldset>
    <hr>
<!-- 
<span class="error" ng-show="registerForm.input.$error.required">
    Required!</span>
  <span class="error" ng-show="registerForm.input.$error.number">
    Not valid number!</span> -->

<span class="help-block">{{help_message}}</span>

      <a
     ng-click='createUser()'><button ng-disabled="registerForm.$invalid"  class="btn btn-primary btn-block">
      Register
    </button></a>

  </form>
 </div>



